<app-nav></app-nav>

<div class="container" style="margin-top: 100px">
  <router-outlet></router-outlet>

  <!-- need to move below form into single archer page
  <form #addArcherForm="ngForm" (ngSubmit)="addArcher()" autocomplete="off">
      <input 
        name="firstname"
        [(ngModel)]="model.firstname"
        class="form-control me-2" 
        type="firstName" 
        placeholder="First Name" 
      >
      <input 
        name="lastname"
        [(ngModel)]="model.lastname"
        class="form-control me-2" 
        type="lastName"  
        placeholder="Last Name" 
      >
      <input 
        name="group"
        [(ngModel)]="model.group"
        class="form-control me-2"
        type="group" 
        placeholder="Group" 
      >
      <button class="btn btn-outline-success" type="submit">Add</button>
  </form>
-->
</div>
